<div class="jumbotron">
	<h1>Post by : <%= @postUser[:email] %></h1>

	<h2><strong><%= @post[:title] %></strong></h2>
	 <hr>
	<p><%= @post[:body] %></p>
	<br>
		<% if current_user.id == @post.user.id %>
			<%= link_to 'Delete Post', @post, method: :delete %>
		<% end %>
	<br>
	<h2>Comments :</h2>

	<% @comments.each do |comment| %>
		<p><%= comment[:body] %> <i>by: </i> <%=  comment.user[:email] %></p>	
		<% if current_user.id == comment.user_id %>
			<%= link_to 'Delete comment' %>
		<% end %>
	<% end %>


	<%= render 'createcomment' %>

	<%= link_to 'I am a programmer', :controller => :posts, :action => :fOff %>
</div>